

.header{
height: 15vh;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: gainsboro;
  margin: 0%;
  
  }
  
.container_main{
  display: flex;
  flex-direction: column;
  align-items: center;
}